.certificate {
	width: 348px;
	height: 574px;
	margin-right: 30px;
	margin-top: 67px;
	position: relative;
	background-color: #281014;
}

.certificate::before {
	content: "";
	display: block;
	width: 306px;
	height: 61px;
	position: absolute;
	top: 367px;
	left: 20px;
	background-image: url("../img/certificate-deco-1.svg");
}

.certificate__number {
	font-family: "Forum", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $font-clr;

  margin: 0;
	position: absolute;
	top: 9px;
	right: 9px;
}

.certificate__price {
	font-family: "Forum", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $font-clr;

	margin: 0;
	position: absolute;
	top: 186px;
	left: 10px;
}

.certificate__text {
	text-align: center;
	margin: 70px 0 111px;
	padding: 0 32px;
	font-size: 1.125rem;
	line-height: 1.5em;
}

.certificate__button {
	margin: 0 auto;
	width: 134px;
}

.certificate_big {
	width: 420px;
	height: 694px;
	margin-top: 7px;
	position: relative;

		.certificate__number {
			top: 10px;
			right: 9px;
			font-size: 1.3125rem;
			letter-spacing: 0.06em;
		}

		.certificate__price {
			top: 230px;
			left: 10px;
			font-size: 1.3125rem;
			letter-spacing: 0.06em;
		}

		.certificate__text {
			margin: 99px 0 128px;
			padding: 0 66px 0 72px;
		}

		&::before {
			background-image: url("../img/certificate-big.svg");
			top: 444px;
			left: 20px;
		}
}