.main-header {
	width: 1747px;
	margin: 0 auto;
	padding-top: 87px;
	padding-bottom: 10px;
}

.main-header__nav {
	display: flex;
	justify-content: flex-start;
}

.main-header__logo {

}

.main-header__phone {
	font-family: 'Forum', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 1.1em;
	letter-spacing: 0.05em;

	margin-left: auto;
	margin-right: 20px;
	padding-top: 24px;
	color: inherit;
}

