.promo {
	padding-top: 98px;
}

.title {
	font-family: "Forum", "Times New Roman", cursive, serif;
	font-weight: normal;
	font-style: normal;
	font-size: 7.5rem;
	line-height: 1.09em;
	letter-spacing: 0.0885em;
	text-transform: uppercase;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 10px;
}
.promo__ {}
.promo__ {}
.promo__ {}
.promo__ {}
.promo__ {}