.site-navigation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	color: inherit;
	max-width: 1147px;
	margin: 0 0px 0px 290px;
	padding: 25px 0 0 0;
}

.site-navigation__item {
	margin: 0 61px 0 0;
	padding: 0;
}

.site-navigation__link {
	font-family: "Forum", cursive, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: inherit;
}

