@charset "UTF-8";
@font-face {
  font-family: "Forum";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Forum-Regular.ttf") format("truetype");
}
body {
  min-width: 1920px;
  margin: 0;
  background: linear-gradient(to bottom, transparent 8%, #3B181E 11% 100%), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Forum", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.2em;
  letter-spacing: 0.1455em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  display: block;
  width: 199px;
  padding: 1.42em 2.5em;
}

.container {
  width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid lightyellow;
  outline-offset: -1px;
}

.main-header {
  width: 1747px;
  margin: 0 auto;
  padding-top: 87px;
  padding-bottom: 10px;
  outline: 1px solid azure;
  outline-offset: -1px;
}

.main-header * {
  outline: 1px dotted gold;
  outline-offset: -1px;
}

.main-header__nav {
  display: flex;
  justify-content: flex-start;
}

.main-header__phone {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  margin-left: auto;
  margin-right: 20px;
  padding-top: 24px;
  color: inherit;
}

.site-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: inherit;
  max-width: 1147px;
  margin: 0 0px 0px 290px;
  padding: 25px 0 0 0;
}

.site-navigation__item {
  margin: 0 61px 0 0;
  padding: 0;
}

.site-navigation__link {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: inherit;
}

.promo {
  padding-top: 98px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  margin-bottom: 245px;
}

.title {
  font-family: "Forum", "Times New Roman", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 7.5rem;
  line-height: 1.09em;
  letter-spacing: 0.0885em;
  text-transform: uppercase;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 10px;
}

.promo__button {
  margin-top: 81px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

.promo__nav-wrapper {
  display: flex;
  position: relative;
}

.promo__nav-wrapper::before {
  content: "";
  display: block;
  width: 38px;
  height: 58px;
  background-image: url("../img/watch.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 154px;
  left: 848px;
}

.promo__link {
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  color: inherit;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: 19px;
  position: relative;
}

.promo__link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow_down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: 18px;
  right: 2px;
}

.socials {
  list-style: none;
  margin: 0px;
  padding: 15px 2px;
}

.socials__item {
  position: relative;
  width: 26px;
  height: 26px;
  outline-color: blue;
  margin-top: 24px;
}

.socials__item::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.insta {
  background-image: url("../img/insta.svg");
  background-position: center;
  background-size: contain;
}

.fb {
  background-image: url("../img/fb.svg");
  background-position: center;
  background-size: contain;
}

.whatsapp {
  background-image: url("../img/wtsap.svg");
  background-position: center;
  background-size: contain;
}

.vk {
  background-image: url("../img/vk.svg");
  background-position: center;
  background-size: contain;
}

.socials__link {
  color: inherit;
  display: block;
  text-indent: 100%;
  overflow: hidden;
}

.container__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.services__title {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0px 14px 0px 0px;
}

.services__subtitle {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13.75rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  opacity: 0.03;
  position: absolute;
  top: 4px;
  left: 23px;
}

.services__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1120px;
  list-style-type: none;
  counter-reset: num;
  margin: 114px 80px 0px 97px;
  padding: 0px 0px 0px 0px;
  align-content: space-between;
  align-items: flex-start;
  outline: 1px solid pink;
  outline-offset: -1px;
}

.services__item {
  width: 350px;
  margin-right: 40px;
  margin-bottom: 40px;
  outline-offset: -1px;
  outline: 1px dashed #7FFFD4;
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  position: relative;
}

.service-card::before {
  counter-increment: num;
  content: counter(num, decimal-leading-zero);
  display: block;
  position: absolute;
  top: 48px;
  left: 30px;
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #fff;
  z-index: 100;
}

.service-card::after {
  content: "";
  width: 70px;
  height: 1px;
  border-top: 1px solid #fff;
  position: absolute;
  top: 65px;
  right: 217px;
}

.service-card img {
  order: -1;
}

.service-card:nth-child(7) div {
  position: relative;
  order: -1;
}

/* Дополнительная тень вокруг картинки
 а) box-shadow
 б) linear-gradient
 не применяются непосредственно к тэгу img */
.service-card:nth-child(7) div::before {
  content: "";
  display: block;
  width: 330px;
  height: 146px;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: inset 2px 2px 30px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 30px 5px rgba(0, 0, 0, 0.5);
}

.service-card__title {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
  order: 0;
}

.service-card__link {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 27px auto 5px 0;
  padding: 0;
  color: inherit;
  order: 1;
}

.service-card:not(:first-child) .service-card__link {
  margin-top: 55px;
}

.service-card:nth-child(4n+1),
.break:nth-child(8n+1) {
  order: -1;
}

.service-card:nth-child(4n+2),
.break:nth-child(8n+2) {
  order: 0;
}

.service-card:nth-child(4n+3),
.break:nth-child(8n+3) {
  order: 1;
}

.service-card:nth-child(4n) {
  order: 2;
}

.break {
  margin: 0;
  padding: 0;
  width: 0;
  flex-basis: 100%;
}

.sales * {
  outline: 1px dashed gold;
  outline-offset: -1px;
}

.sales__wrapper {
  display: flex;
  flex-direction: row;
  outline-color: red;
  outline-style: solid;
  margin: 0 auto 250px;
  padding-top: 212px;
}

.text__column {
  margin-left: auto;
  width: 385px;
  margin-right: 104px;
}

.picture__column {
  width: 697px;
  height: 410px;
  margin-right: auto;
  position: relative;
}

.picture__column::after {
  content: "";
  display: block;
  width: 697px;
  height: 410px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 22px;
  left: 13px;
}

.picture__column img {
  position: absolute;
  top: 0px;
  left: -14px;
}

.sales__title {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.125rem;
  line-height: 1.1em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  position: relative;
  margin-top: 41px;
  margin-bottom: 57px;
}

.sales__title::after {
  content: "";
  display: block;
  width: 5.34rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -32px;
  left: 0px;
}

.sales__text {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.7em;
  letter-spacing: 0.004em;
  margin-bottom: 30px;
}

.sales__button {
  width: 220px;
  padding: 1.07rem 1.7rem;
}

.portfolio {
  display: flex;
  margin-bottom: 230px;
}

.column__photo {
  width: 58%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-top: 18px;
  padding-right: 10px;
  position: relative;
}

.column__text {
  width: 42%;
  margin-right: auto;
}

.column__text-wrapper {
  width: 699px;
  padding-top: 5.99rem;
  padding-left: 83px;
}

.portfolio__picture_big::after {
  content: "";
  display: block;
  width: 996px;
  height: 801px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 45px;
  right: 1px;
}

.portfolio__title {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.125rem;
  line-height: 1.1em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 56px;
  position: relative;
}

.portfolio__title::after {
  content: "";
  display: block;
  width: 5.34375rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -32px;
  left: 0px;
}

.portfolio__text {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5em;
  margin: 0px;
}

.portfolio__text:last-child {
  background: red;
}

.portfolio__button {
  margin-top: 33px;
  margin-bottom: 100px;
  width: 135px;
}

.portfolio__picture-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.portfolio__picture {
  margin-right: 20px;
}

.gift-cards {
  margin-bottom: 261px;
  padding-bottom: 10px;
}

.gift-cards__title {
  font-family: "Forum", cursive, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: relative;
  padding-top: 14px;
  padding-bottom: 50px;
  padding-right: 15px;
  text-align: center;
}

.gift-cards__title::after {
  content: "";
  display: block;
  width: 5.34375rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 27px;
  left: 809px;
}

.gift-cards__list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  padding-left: 13px;
}

.certificate {
  width: 348px;
  height: 574px;
  margin-right: 30px;
  margin-top: 67px;
  position: relative;
  background-color: #281014;
}

.certificate::before {
  content: "";
  display: block;
  width: 306px;
  height: 61px;
  position: absolute;
  top: 367px;
  left: 20px;
  background-image: url("../img/certificate-deco-1.svg");
}

.certificate__number {
  font-family: "Forum", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 9px;
  right: 9px;
}

.certificate__price {
  font-family: "Forum", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 186px;
  left: 10px;
}

.certificate__text {
  text-align: center;
  margin: 70px 0 111px;
  padding: 0 32px;
  font-size: 1.125rem;
  line-height: 1.5em;
}

.certificate__button {
  margin: 0 auto;
  width: 134px;
}

.certificate_big {
  width: 420px;
  height: 694px;
  margin-top: 7px;
  position: relative;
}
.certificate_big .certificate__number {
  top: 10px;
  right: 9px;
  font-size: 1.3125rem;
  letter-spacing: 0.06em;
}
.certificate_big .certificate__price {
  top: 230px;
  left: 10px;
  font-size: 1.3125rem;
  letter-spacing: 0.06em;
}
.certificate_big .certificate__text {
  margin: 99px 0 128px;
  padding: 0 66px 0 72px;
}
.certificate_big::before {
  background-image: url("../img/certificate-big.svg");
  top: 444px;
  left: 20px;
}

.partners * {
  outline: 1px dotted LightPink;
  outline-offset: -1px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 195px;
}

.partners__title {
  font-family: "Forum", cursive, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 90px 0px;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.partners__title::after {
  content: "";
  display: block;
  width: 96px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -23px;
  left: 101px;
}

.partners__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1176px;
  margin: 0px 17px 0px 0px;
  padding: 0px;
  column-gap: 33px;
  row-gap: 34px;
}

.partners__item {
  margin: 0px;
  padding: 0px;
}
/*# sourceMappingURL=style.css.map */
